<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Page</title>
</head>
<body>
  <h1>Edit</h1>
  <a href="/edit">Edit DATA</a>
  <hr />
  <form method="post">
    <fieldset>
      <legend>INSERT DATA</legend>
      <table>
        <tr>
          <td><label for="id">ID</label></td>
          <td><input type="text" name="id" id="id" value="<%=  data.id %>" disabled /></td>
        </tr>
        <tr>
          <td><label for="name">Name</label></td>
          <td><input type="text" name="name" id="name" value="<%=  data.name %>" /></td>
        </tr>
        <tr>
          <td><label for="modelnumber">Model Number</label></td>
          <td><input type="text" name="modelnumber" id="modelnumber" value="<%=  data.modelnumber %>" /></td>
        </tr>
        <tr>
          <td><label for="serise">Serise</label></td>
          <td><input type="text" name="serise" id="serise" value="<%=  data.serise %>" /></td>
        </tr>
      </table>
      <button type="submit">전송</button>
    </fieldset>
  </form>
</body>
</html>